<h1 class="page-header">
	Home
</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<h3><%=label_tag "Free Level: " + current_user.free_level.to_s, 
									 nil, class: "label label-default", title: "Free Level measures your performance in competitions with less than 500 entry gold (free competitions)." %>
					<%=label_tag "Premium Level: " + current_user.premium_level.to_s, 
										nil, class: "label label-success", title: "Premium Level measures your performance in competitions with more than 500 entry gold (premium competitions)." %>
					<%=label_tag "Gold: " + current_user.gold.to_s, 
										nil, class: "label label-warning", title: "You pay with gold to see answers and/or solutions of problems. The more gold you have, the more answers and solutions you can unlock. You can earn gold from competitions, by submitting problems and solutions or by simply purchasing some from us."  %></h3>
		</div>
		
		<div class="col-sm-4">
			<p class="pull-right">Registered Users: <%= User.count %></p>
		</div>
	</div><br/>

	<div class="row">
		<div class="col-sm-12 text-center">
			<% if current_user.can_get_free_gold %>
				<p><%= link_to "Get 1000 free gold!!! Click here!", free_gold_users_path, class: "btn btn-lg btn-warning"  %></p>
			<% end %>
			
			<% if current_user.n_solved_problems < N_PROBLEMS_FREE_GOLD %>
				<p>NOTICE: If you solve <%=  N_PROBLEMS_FREE_GOLD - current_user.n_solved_problems  %> more problems during competitions, you will receive <strong>1000 gold</strong> for free!!!	</p>
			<% end %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 text-center">
			<%= link_to "Buy Gold", static_pages_buy_gold_path, class: "btn btn-sm btn-warning" %>
		</div>
	</div>
	
	<br/>

	<div class="row equal">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="container-fluid panel-heading">
					<div class="col-sm-12 text-center">
						<p><%= link_to "Go to Competitions", competitions_path, class: "btn btn-lg btn-danger col-sm-12" %></p>
					</div>
				</div>
				<div class="panel-body">
					
					<div class="col-sm-12">
						<p><strong><%= Competition.where(started_at: nil).count %></strong> competitions waiting for players.</p>
						<p><strong><%= Competition.where.not(started_at: nil).count %></strong> competitions currently in play.</p>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="container-fluid panel-heading text-center">
					<%= link_to "Seen Problems", seen_problems_users_path, class: "btn btn-success" %>
				</div>
				<div class="panel-body">
					
					<div class="col-sm-12">
						<p><strong><%= current_user.uploaded_problems.count %></strong> problems that you have uploaded.</p>
						<p><strong><%= current_user.seen_problems.count %></strong> problems that you have seen.</p>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="container-fluid panel-heading text-center">
					<%= link_to "Problems without solutions", no_solutions_problems_path, class: "btn btn-success" %>
				</div>
				<div class="panel-body">
					
					<div class="col-sm-12">
						<p><strong><%= current_user.solutions.count %></strong> solutions that you have submitted.</p>
						<p><strong><%= Problem.select { |p| ( p.solutions.count == 0 && p.checked? ) }.count %></strong> problems waiting for their first solution.</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
