<div class="col-sm-3 text-center" id="submitted-players">
	<%= render 'submitted_players' %>
</div>

<div class="col-sm-9">
	<div class="panel panel-default">
		<div class="panel-heading">Your result</div>
		<div class="panel-body">
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Problem</th>
						<th>Your answer</th>
						<th>Check</th>
						<th>Answer</th>
						<th>Solution</th>
						<th>Weight</th>
					</tr>
				</thead>
				<tbody>
					<% @competition.problems.each do |prob| %>
						<tr>
							<td><%= prob.title %></td>
							<td>
								$<%= current_user.results["answer_#{prob.id}"][:answer] %>
								 \times 
								 10^{<%= current_user.results["answer_#{prob.id}"][:degree_of_answer] %>} 
								 <%= prob.units_of_answer %>$
							</td>
							<td>
								<% if current_user.results["answer_#{prob.id}"][:check_answer] %>
									<i class="glyphicon glyphicon-ok"></i>
								<% else %>
									<i class="glyphicon glyphicon-remove"></i>
								<% end %>
							</td>
							<td>
								<% if current_user.id == prob.creator_id || ( current_user.relation_of(prob).present? &&
											current_user.relation_of(prob).can_see_answer? ) %>
									<p>hidden</p>
								<% else %>
									<%= link_to "Unlock (#{COST_TO_UNLOCK_ANSWER} gold)", "#", method: "post", class: "btn btn-xs btn-primary", data: {confirm: "#{COST_TO_UNLOCK_ANSWER} gold will be deducted from your account. Note that you will be able to see the answer after everyone submits their answers."}, remote: true %>
								<% end %>
							</td>
							<td>
								<% if !current_user.results["answer_#{prob.id}"][:check_answer] %>
									<%= link_to "Submit solution", new_solution_path({problem_id: prob.id}), class: "btn btn-xs btn-danger"  %>
								<% else %>
									<%= link_to "Submit solution", new_solution_path({problem_id: prob.id}), class: "btn btn-xs btn-success"  %>
								<% end %>
							</td>
							<td>100%</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default text-center">
					<div class="panel-body">
						<p>Score: <span class="badge alert-success">100%</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
