<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>Competition <%= @competition.id %></h1>
			<span class="label label-primary">Players: <%= @competition.n_players %></span>
			<span class="label label-primary">Length: <%= @competition.length %> min</span>
			<span class="label label-primary">Entry Gold: <%= @competition.entry_gold %></span>
		</div>
		
		<%= render 'competition_timer' %>
		
	</div>
</div>

<div id="competition-show">
	<%= render partial: 'show_competition' %>
</div>


<%= render 'faye_subscribe' %>

<%= render 'faye_publish' %>


<script type="text/javascript">
	$(function(){
		var faye = new Faye.Client('/faye');
		$('#faye-cancel').click(function() {
			subscription.cancel();
			window.location = "/";
		});
		
		$('#faye-leave').click(function() {
			<% @competition.users.each do |u| %>
				<% unless u.id == current_user.id %>
					faye.publish('/competitions/<%= u.id %>', { component: "#competition-show", mess: "reload" } );
				<% end %>
			<% end %>
			subscription.cancel();
		});
		
		$(document).ready(function(){
			<% @competition.users.each do |u| %>
				setInterval(function(){ 
					var new_cl = new Faye.Client('/faye');
					new_cl.publish('/competitions/<%= u.id %>', { component: "", mess: "ping" }); }, 20000);
			<% end %>
		});
	});

</script>
