<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>Competition <%= @competition.id %></h1>
			<span class="label label-primary">Players: <%= @competition.n_players %></span>
			<span class="label label-primary">Length: <%= @competition.length %> min</span>
			<span class="label label-primary">Entry Gold: <%= @competition.entry_gold %></span>
		</div>
		
		<%= render 'competition_timer' %>
		
	</div>
</div>

<div id="competition-show">
	<%= render partial: 'show_competition' %>
</div>

<script type="text/javascript">
	var faye = new Faye.Client('/faye');
	<% @competition.users.each do |u| %>
	
		<% if @competition.started_at.present? %>
			//~ If the competition has started then everyone should reload pages.
			faye.publish('/competitions/<%= u.id %>', { component: "#competition-show", mess: "reload" } );
			
			<% if current_user.submitted_competition %>
				faye.publish('/competitions/<%= u.id %>', { component: "#competition-players", mess: "<%= j render partial: 'competition_players' %>" } );
				faye.publish('/competitions/<%= u.id %>', { component: "#submitted-players", mess: "<%= j render partial: 'submitted_players' %>" } );
			<% end %>
			
			<% if @competition.users.where(submitted_competition: false).count == 0 %>
				faye.publish('/competitions/<%= u.id %>', { component: "#competition-show", mess: "<%= j render partial: 'show_competition' %>" } );
			<% end %>
			
		<% else %>
		
			faye.publish('/competitions/<%= u.id %>', { component: "#competition-show", mess: "<%= j render partial: 'show_competition' %>" } );
			faye.publish('/competitions/<%= u.id %>', { component: "#header-competition-button", mess: "<%= j render partial: 'header_competition_button' %>" } );
			
		<% end %>
		
	<% end %>
</script>
