<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>Competition <%= @competition.id %></h1>
			<span class="label label-primary">Players: <%= @competition.n_players %></span>
			<span class="label label-primary">Length: <%= @competition.length %> min</span>
			<span class="label label-primary">Entry Gold: <%= @competition.entry_gold %></span>
		</div>
		
		<%= render 'competition_timer' %>
		
	</div>
</div>

<div id="competition-show">
	<%= render partial: 'show_competition' %>
</div>

<script type="text/javascript">
	var faye = new Faye.Client('/faye');
	<% @competition.users.each do |u| %>
		faye.publish('/competitions/<%= u.id %>', { mess: "<%= j render partial: 'show_competition' %> " } );
	<% end %>
</script>
