<h1 class="page-header">
	Upload a new problem
</h1>

<%= form_for(@problem) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="row">
		<div class="field form-group col-sm-10">
			<%= f.label :title %>
			<%= f.text_field :title, class: "form-control" %>
		</div>
		
		<div class="field form-group col-sm-1 col-sm-offset-1">
			<%= f.label :answer %>
			<%= f.number_field :answer, class: "form-control" %>
		</div>
	</div>
	
	<div class="row">
		<div class="field form-group col-sm-12">
			<%= f.label :text  %>
			<%= f.text_area :content, placeholder: "Problem text...", class: "form-control problem-text" %>
		</div>
		<div class="col-sm-2">
			<%= f.submit "Submit", class: "btn btn-primary btn-success" %>
		</div>
  </div>
	
<% end %>
