<h1 class="page-header">
	Problems with no Solutions
</h1>

<div class="col-sm-12">
	<p>In this section you can find all recently submitted problems that still do not have any solutions. Feel free to submit solutions to as many of these as you want. As long as your solution stays in the top 10 solutions for the corresponding problem, you will receive gold every time someone unlocks the solutions.</p>
</div>

<% unless @no_solutions.empty? %>

	<table class="table table-bordered table-hover text-center">
		<thead>
			<tr>
				<th class="text-center">Submitted</th>
				<th class="text-center">Title</th>
				<th class="text-center">Creator</th>
				<th class="text-center">Category</th>
				<th class="text-center">Length (min)</th>
				<th class="text-center">Difficulty</th>
				<th class="text-center">Rating</th>
			</tr>
		</thead>
		<tbody>
			<% @no_solutions.each do |prob| %>
				<tr>
					<td>
						<%= Date.strptime(
									prob.created_at.to_s,
									"%Y-%m-%d %H:%M:%S %Z"
								).strftime("%d/%m/%Y") %>
					</td>
					<td>
						<span class="label label-<%= ["success", "warning", "danger"][prob.target-1] %> round pull-left"><%= ["S", "U", "R"][prob.target-1] %></span>
						<%= link_to prob.title, problem_path(prob) %>
					</td>
					<td>
						<% if check_user_id(prob.creator_id) %>
							<%= link_to prob.creator.first_name + " " + prob.creator.last_name, user_path(prob.creator) %>
						<% else %>
							<p>Deleted user</p>
						<% end %>
					</td>
					<td><%= prob.category  %></td>
					<td><%= prob.length %></td>
					<td><%= prob.difficulty %></td>
					<td><%= prob.rating.present? ? prob.rating.round(1) : "n/a" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= will_paginate @no_solutions %>

<% else %>
	<p>There are no problems at this moment.</p>
<% end %>
