<h1><%= @problem.title %></h1>
<% if !@problem.creator.nil? %>
<p> by <%= @problem.creator.first_name %> <%= @problem.creator.last_name %></p>
<% end %>
<p><%= @problem.content %></p>
<p> Answer: <%= @problem.answer  %></p>
<p> the problem's viewers are: <% @problem.viewers.each do |s| %>
																		<%= s.first_name %> <%= s.last_name %>,
																		<% end %>
</p>
<span class="timestamp">
    Created <%= time_ago_in_words(@problem.created_at) %> ago.
    <% if current_user==(@problem.creator) %> 
<!--
    or current_user.admin?
-->	

      <%= link_to "delete", @problem, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
</span>
