<div class="page-header">
	<h1>
		<%= @problem.title %>
	</h1>

	<% if @problem.creator.present? %>
		<p> 
			by <%= link_to @problem.creator.first_name + " " + @problem.creator.last_name, user_path(@problem.creator) %>,
			<%= time_ago_in_words(@problem.created_at) %> ago
			<% if current_user==(@problem.creator) || current_user.admin? %>
				<%= link_to "Edit", edit_problem_path(@problem), class: "btn btn-xs btn-warning"  %>
				<%= link_to "Delete", @problem, method: :delete, 
						data: { confirm: "You sure?" }, class: "btn btn-xs btn-danger" %>
			<% end %>
		</p>
	<% end %>
</div>

	<% unless current_user.relation_of(@problem).nil? %>
		<% if current_user.relation_of(@problem).provided_with_solution? %>
			<%= link_to "Your solution", solution_path(current_user.relation_of(@problem).solution), class: "btn btn-sm btn-success"  %>
		<% else %>
			<%= link_to "Submit solution", new_solution_path({problem_id: @problem.id}), class: "btn btn-sm btn-success"  %>
		<% end %>
	<% else %>
		<%= link_to "Submit solution", new_solution_path({problem_id: @problem.id}), class: "btn btn-sm btn-success"  %>
	<% end %>
	
	<%= link_to "See Solutions", show_solutions_problems_path(@problem), class: "btn btn-sm btn-primary"  %>

<div class="jumbotron container-fluid">
			<p class="problem-content"><%= @problem.content %></p>
			<p class="label label-default col-sm-5">
				<% if current_user.id == @problem.creator_id %>
					Answer: <%= "$ #{@problem.answer} \\times 10^{#{@problem.degree_of_answer}} #{@problem.units_of_answer}$ " %>
				<% else %>
					Answer: <%= link_to "Unlock", "#", class: "btn btn-xs btn-info" %>
				<% end %>
			</p>
			<div class="col-sm-2 col-sm-offset-3">
				<p class="label label-primary">Length: <%= @problem.length %> min</p>
			</div>
			<div class="col-sm-2">
				<p class="label label-primary">Difficulty: <%= @problem.difficulty %></p>
			</div>
			<div class="col-sm-6 col-sm-offset-6 text-right">
				<p class="label label-info"><%= @problem.category %></p>
			</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    People who have seen this problem: 

    <%= link_to @problem.creator.first_name + " " + @problem.creator.last_name, user_path(@problem.creator), class: "label label-default" %>
    <% @problem.viewers.each do |u| %>
			<%= link_to u.first_name + " " + u.last_name, user_path(u), class: "label label-default"  %>
		<% end %>
  </div>
</div>
