<h1 class="page-header">
	Solutions of "<%= current_problem.title %>"
</h1>

<% unless @normal_solutions.empty? && @reported_solutions.empty? %>

	<div class="container-fluid col-sm-12 text-center">
		<% if current_user.relation_of(current_problem).present? && current_user.relation_of(current_problem).can_see_solution? %>
			<p class="alert-success">You have unlocked all solutions. You have full access to all current as well as future solutions of this problem.</p>
		<% else %>
			<p class="alert-danger">At the moment you can access only your own solution to this problem. If you want to see other people's solutions, you need to unlock all solutions.</p>
			<%= link_to "Unlock Solutions (#{COST_TO_UNLOCK_SOLUTIONS} gold)", unlock_solution_problems_path(problem_id: current_problem.id), method: "post", class: "btn btn-primary" %>
			<%= link_to "Buy Gold", static_pages_buy_gold_path, class: "btn btn-sm btn-warning" %>
		<% end %>
		<hr/>
	</div>

	<% unless @normal_solutions.empty? %>
		<div class="col-sm-12">
			<div class="col-sm-2"><p class="label label-success">Normal solutions:</p></div>
			<p class="col-sm-10"> These solutions have reached answers that agree with the original answer of the problem.</p>
			<table class="table table-bordered table-hover text-center">
				<thead>
					<tr>
						<th class="text-center">Submitted</th>
						<th class="text-center">Title</th>
						<th class="text-center">Solver</th>
						<th class="text-center">Category</th>
						<th class="text-center">Length (min)</th>
						<th class="text-center">Difficulty</th>
						<th class="text-center">Rating</th>
					</tr>
				</thead>
				<tbody>
					<% @normal_solutions.each do |sol| %>
						<tr>
							<td>
								<%= Date.strptime(
											sol.created_at.to_s,
											"%Y-%m-%d %H:%M:%S %Z"
										).strftime("%d/%m/%Y") %>
							</td>
							<td><%= link_to "Solution of " + sol.problem.title, solution_path(sol) %></td>
							<td>
								<% if check_user_id(sol.user_problem_relation.viewer_id) %>
									<%= link_to sol.user.first_name + " " + sol.user.last_name, user_path(sol.user) %>
								<% else %>
									<p>Deleted user</p>
								<% end %>
							</td>
							<td><%= sol.problem.category  %></td>
							<td><%= sol.problem.length %></td>
							<td><%= sol.problem.difficulty %></td>
							<td>
								<span class="badge alert-success"><%= sol.upvotes %></span>
								<span class="badge alert-danger"><%= sol.downvotes %></span>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
	
	<% unless @reported_solutions.empty? %>
		<div class="col-sm-12">
			<hr/>
			<div class="col-sm-2"><p class="label label-danger">Report solutions</p></div>
			<p class="col-sm-10"> These solutions have reached answers that differ from the original answer of the problem. Their authors have submitted them as attempts to demonstrate that the original answer is wrong.</p>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Submitted</th>
					<th>Title</th>
					<th>Solver</th>
					<th>Category</th>
					<th>Length (min)</th>
					<th>Difficulty</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<% @reported_solutions.each do |sol| %>
					<tr>
						<td>
							<%= Date.strptime(
										sol.created_at.to_s,
										"%Y-%m-%d %H:%M:%S %Z"
									).strftime("%d/%m/%Y") %>
						</td>
						<td><%= link_to "Solution of " + sol.problem.title, solution_path(sol) %></td>
						<td>
							<% if check_user_id(sol.user_problem_relation.viewer_id) %>
								<%= link_to sol.user.first_name + " " + sol.user.last_name, user_path(sol.user) %>
							<% else %>
								<p>Deleted user</p>
							<% end %>
						</td>
						<td><%= sol.problem.category  %></td>
						<td><%= sol.problem.length %></td>
						<td><%= sol.problem.difficulty %></td>
						<td></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
	
<% else %>
	<p>No solutions yet!</p>
<% end %>
