<h1 class="page-header">
	Problems
</h1>

<% unless @admin_problems.empty? %>

	<table class="table table-bordered table-hover text-center">
		<thead>
			<tr>
				<th class="text-center">Submitted</th>
				<th class="text-center">Title</th>
				<th class="text-center">Creator</th>
				<th class="text-center">Category</th>
				<th class="text-center">Length (min)</th>
				<th class="text-center">Difficulty</th>
				<th class="text-center">N Solutions</th>
				<th class="text-center">Rating</th>
			</tr>
		</thead>
		<tbody>
			<% @admin_problems.each do |prob| %>
				<tr>
					<td>
						<%= Date.strptime(
									prob.created_at.to_s,
									"%Y-%m-%d %H:%M:%S %Z"
								).strftime("%d/%m/%Y") %>
					</td>
					<td><%= link_to prob.title, problem_path(prob) %></td>
					<td><%= link_to prob.creator.first_name + " " + prob.creator.last_name, user_path(prob.creator) %></td>
					<td><%= prob.category  %></td>
					<td><%= prob.length %></td>
					<td><%= prob.difficulty %></td>
					<td>
						<span class="badge alert-success"><%= prob.solutions.where(reported: false).count %></span>
						<span class="badge alert-danger"><%= prob.solutions.where(reported: true).count %></span>
					</td>
					<td><%= prob.rating.present? ? prob.rating.round(1) : "n/a" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

<% else %>
	<p>No problems yet!</p>
<% end %>
