<h1 class="page-header">
	My Problems
</h1>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Submitted</th>
			<th>Title</th>
			<th>Category</th>
			<th>Length (min)</th>
			<th>Difficulty</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		<% @my_problems.each do |prob| %>
			<tr>
				<td>
					<%= Date.strptime(
								prob.created_at.to_s,
								"%Y-%m-%d %H:%M:%S %Z"
							).strftime("%d/%m/%Y") %>
				</td>
				<td><%= link_to prob.title, problem_path(prob) %></td>
				<td><%= prob.category  %></td>
				<td><%= prob.length %></td>
				<td><%= prob.difficulty %></td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>
