<h1 class="page-header">
	My Solutions
</h1>

<% unless @my_solutions.empty? %>

	<table class="table table-bordered table-hover text-center">
		<thead>
			<tr>
				<th class="text-center">Submitted</th>
				<th class="text-center">Title</th>
				<th class="text-center">Category</th>
				<th class="text-center">Length (min)</th>
				<th class="text-center">Difficulty</th>
				<th class="text-center">Rating</th>
			</tr>
		</thead>
		<tbody>
			<% @my_solutions.each do |sol| %>
				<tr>
					<td>
						<%= Date.strptime(
									sol.created_at.to_s,
									"%Y-%m-%d %H:%M:%S %Z"
								).strftime("%d/%m/%Y") %>
					</td>
					<td><%= link_to "Solution of " + sol.problem.title, solution_path(sol) %></td>
					<td><%= sol.problem.category  %></td>
					<td><%= sol.problem.length %></td>
					<td><%= sol.problem.difficulty %></td>
					<td>
						<span class="badge alert-success"><%= sol.upvotes %></span>
						<span class="badge alert-danger"><%= sol.downvotes %></span>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

<% else %>
	<p>No solutions yet!</p>
<% end %>
