<h1 class="page-header">
	My Solutions
</h1>

<div class="col-sm-12">
	<p>In this section you can find all solutions that you have submitted to various problems. As long as your solution stays in the top 10 solutions for a given problem, you will receive gold everytime someone unlocks the solutions for that problem.</p>
</div>

<% unless @my_solutions.empty? %>

	<table class="table table-bordered table-hover text-center">
		<thead>
			<tr>
				<th class="text-center">Submitted</th>
				<th class="text-center">Title</th>
				<th class="text-center">Category</th>
				<th class="text-center">Length (min)</th>
				<th class="text-center">Difficulty</th>
				<th class="text-center">Rating</th>
			</tr>
		</thead>
		<tbody>
			<% @my_solutions.each do |sol| %>
				<tr>
					<td>
						<%= Date.strptime(
									sol.created_at.to_s,
									"%Y-%m-%d %H:%M:%S %Z"
								).strftime("%d/%m/%Y") %>
					</td>
					<td>
						<span class="label label-<%= ["success", "warning", "danger"][sol.problem.target-1] %> round pull-left"><%= ["S", "U", "R"][sol.problem.target-1] %></span>
						<%= link_to "Solution of " + sol.problem.title, solution_path(sol) %>
					</td>
					<td><%= sol.problem.category  %></td>
					<td><%= sol.problem.length %></td>
					<td><%= sol.problem.difficulty %></td>
					<td>
						<span class="badge alert-success"><%= sol.upvotes %></span>
						<span class="badge alert-danger"><%= sol.downvotes %></span>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<%= will_paginate @my_solutions %>

<% else %>
	<p>No solutions yet!</p>
<% end %>
