<h1 class="page-header">
	Personal Info
</h1>

<div class="col-sm-4 col-sm-offset-4 text-center lead">
	<div class="panel panel-default">
		<div class="panel-body">
			<%= image_tag(@user.image, class: "img-circle profile-info-img") %> <br/>
			<p><%= @user.first_name + " " + @user.last_name %></p>

			<% if @user.age < 100 %>
				<p>Age: <%= @user.age %></p>
			<% end %>

			<% if @user.admin %>
				<p>Admin</p>
			<% elsif @user.moderator %>
				<p>Moderator</p>
			<% end %>

			<h3><%=label_tag "Free Level: "+@user.free_level.to_s, 
								 nil, class: "label label-default" %></h3>
			<h3><%=label_tag "Premium Level: "+@user.premium_level.to_s, 
								 nil, class: "label label-success" %></h3>
					<h3><%=label_tag "Gold: "+@user.gold.to_s, 
								 nil, class: "label label-warning" %></h3>
		</div>
	</div>
	<% if @user.provider.nil? && current_user.id == @user.id %>
		<%= link_to "Edit", edit_user_registration_path, class: "btn btn-sm btn-primary" %>
	<% end %>
</div>

