<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "PhyKings", static_pages_click_home_path, remote: true, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", static_pages_click_home_path, remote: true %></li> 
            
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Competitions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Active competitions", static_pages_click_competition_path(sidebar_item: "competitions-active"), remote: true  %></li>
              <li><%= link_to "CREATE", static_pages_click_competition_path(sidebar_item: "competitions-create"), remote: true %></li>  
						</ul>    
						</li>
            
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Problems and solutions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Upload Problem", static_pages_click_p_and_s_path(sidebar_item: "p_and_s-upload"), remote: true  %></li> 
              <li><%= link_to "My problems", static_pages_click_p_and_s_path(sidebar_item: "p_and_s-my_problems"), remote: true   %></li>   
              <li><%= link_to "My solutions", static_pages_click_p_and_s_path(sidebar_item: "p_and_s-my_solutions"), remote: true   %></li>  
              <li><%= link_to "Seen problems", static_pages_click_p_and_s_path(sidebar_item: "p_and_s-past_problems"), remote: true   %></li> 
              <li><%= link_to "Problems without solutions", static_pages_click_p_and_s_path(sidebar_item: "p_and_s-problems_without_solutions"), remote: true   %></li>
						</ul>
						</li>
            
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Help <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "LaTeX 1", static_pages_click_help_path, remote: true  %></li>
              <li><%= link_to "LaTeX 2", static_pages_click_help_path, remote: true %></li>
              <li><%= link_to "Rules", static_pages_click_help_path, remote: true %></li>  
              <li><%= link_to "The Mission", static_pages_click_help_path, remote: true %></li>  
              <li><%= link_to "About us", static_pages_click_help_path, remote: true %></li>  
						</ul>    
						</li>
						
          </ul>
          
<!--
          User info partial. Top right.
-->
          <%= render 'layouts/logged_in/user_info' %>
          
        </div>
      </div>
</nav>
