     
<!-- Problems & Solutions Sidebar Partial -->     
<!-- Note: The <div> </div>s are in the _logged_in partial-->     
      
<ul class="nav nav-sidebar">
	<li><h3>Problems & Solutions</h3></li>
	<li><%= link_to "Upload problem", '#' %></li>	
	<li><%= link_to "My problems", '#' %></li>
	<li><%= link_to "My solutions", '#' %></li>
	<li><%= link_to "Past problems", '#' %></li>
	<li><%= link_to "Problems without solutions", '#' %></li>
</ul>
