
<!--
summarized info for the user top right 
Used in header_in
-->

<ul class="nav navbar-nav navbar-right">
	
	<li><p class="navbar-text"><%= current_user.email %></p></li>
	
	<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							
							<%= image_tag(current_user.image, class: "img-circle profile-image") %>
							<%= current_user.first_name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
							<li>
									<ul class="list-group text-center">
										<li class="list-group-item"><p class="label label-default">Free level: <%= current_user.free_level %></p></li>
										<li class="list-group-item"><p class="label label-success">Premium level: <%= current_user.premium_level %></p></li>
										<li class="list-group-item"><p class="label label-warning">Gold: <%= current_user.gold %></p></li>
										<li class="list-group-item"><%= link_to "Buy Gold", static_pages_buy_gold_path, class: "btn btn-xs btn-warning" %></li>
									</ul>
							</li>
							<li class="divider"></li>
              <li><%= link_to "Personal info", static_pages_click_home_path(sidebar_item: "profile-personal-info"), remote: true %></li>
              <li><%= link_to "Stats", static_pages_click_home_path(sidebar_item: "profile-stats"), remote: true %></li>  
              <li><%= link_to "Notifications", static_pages_click_home_path(sidebar_item: "profile-notifications"), remote: true %></li>
              <li><%= link_to "My Problems", static_pages_click_home_path(sidebar_item: "profile-my-problems"), remote: true %></li> 
              <li><%= link_to "My Solutions", static_pages_click_home_path(sidebar_item: "profile-my-solutions"), remote: true %></li> 
              <li><%= link_to "Seen problems", static_pages_click_home_path(sidebar_item: "profile-seen-problems"), remote: true %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_url, method: "DELETE" %></li>
						</ul>    
	</li>
</ul>

	


