<div class="page-header">
	<h1>Edit a solution</h1>
	<p><strong>Problem:</strong> 
	<%= link_to @solution.problem.title, problem_path(@solution.problem) %></p>
</div>

<%= form_for(@solution, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">Answer:</div>
			<div class="panel-body">
				<div class="field form-group col-sm-4">
					<%= f.label :answer, "Value" %>
					<%= f.number_field :answer, class: "form-control" %>
				</div>
				
				<div class="field form-group col-sm-4">
					<%= f.label :degree_of_answer, "Power" %>
					<%= f.number_field :degree_of_answer, class: "form-control" %>
				</div>
				
				<div class="field form-group col-sm-4">
					<%= label_tag :units_of_answer, "Units" %>
					<p class="form-control">$<%= @solution.problem.units_of_answer %>$</p>
				</div>
				<p>The format of the answer is $\textbf{value}\times 10^{\textbf{power}} 
					 <%= @solution.problem.units_of_answer %>$.</p>
					 <p>Please make sure that the entered "Value" and "Power" are integers.</p>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<%= link_to "Hide Problem", "#", class: "btn btn-primary btn-xs", id: "view-problem-button", remote: true %>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1" id="view-problem-text">
		<div class="jumbotron">
			<% @problem = @solution.problem %>
			<p><%= image_tag( @problem.picture.url, class: "img-responsive" ) if @problem.picture? %></p>
			<p><strong><%= @problem.title %></strong></p>
			<p class="problem-content"><%= @problem.content %></p>
		</div>
	</div>
	
	<div class="field form-group col-sm-12">
		<%= f.label :text  %>
		<%= f.text_area :content, placeholder: "Solution text...", class: "form-control problem-text" %>
		<span class="picture">
			<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %>
		</span>
	</div>
	
	<%= hidden_field_tag :problem_id, @solution.problem.id %>
	
  <div class="col-sm-2">
		<%= f.submit "Save Changes", class: "btn btn-primary btn-success" %>
	</div>
<% end %>

<script type="text/javascript">
  $('#solution_picture').bind('change', function() {
    var size_in_kilobytes = this.files[0].size/1024;
    if (size_in_kilobytes > 500) {
      alert('Maximum file size is 500kB. Please choose a smaller file.');
    }
  });
</script>
