<div class="page-header">
	<h1>Submit a solution</h1>
	<p><strong>Problem:</strong> 
	<%= link_to Problem.find(params[:problem_id]).title, problem_path(id: params[:problem_id]) %></p>
</div>

<%= form_for(@solution) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">Answer:</div>
			<div class="panel-body">
				<div class="field form-group col-sm-4">
					<%= f.label :answer, "Value" %>
					<%= f.number_field :answer, class: "form-control" %>
				</div>
				
				<div class="field form-group col-sm-4">
					<%= f.label :degree_of_answer, "Power" %>
					<%= f.number_field :degree_of_answer, class: "form-control" %>
				</div>
				
				<div class="field form-group col-sm-4">
					<%= label_tag :units_of_answer, "Units" %>
					<p class="form-control">$<%= Problem.find(params[:problem_id]).units_of_answer %>$</p>
				</div>
				
				<div class="col-sm-12">
					<p>The format of the answer is $\textbf{value}\times 10^{\textbf{power}} 
						 <%= Problem.find(params[:problem_id]).units_of_answer %>$.</p>
					<p>Make sure that the entered "Value" and "Power" are integers.</p>
				</div>

			</div>
			<div class="panel-footer container-fluid">
			
					<%= f.check_box :reported, class: "col-sm-1" %>
					<div class="col-sm-11">
						<p class="label label-danger">Report solution</p>
					</div>
					<p class="col-sm-11 col-sm-offset-1"> If your answer does not agree with the original answer of the problem and you think that your answer should be the correct one, you can submit your solution by checking this box. Your solution will be marked as a "Report solution" and will help in future revisions of the problem. </p>
				
			</div>
		</div>
	</div>
	
	<div class="col-sm-4 col-sm-offset-4 text-center">
		<%= link_to "Hide Problem", "#", class: "btn btn-primary btn-xs", id: "view-problem-button", remote: true %>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1" id="view-problem-text">
		<div class="jumbotron">
			<p><strong><%= Problem.find(params[:problem_id]).title %></strong></p>
			<p class="problem-content"><%= Problem.find(params[:problem_id]).content %></p>
		</div>
	</div>
	
	<div class="field form-group col-sm-12">
		<%= f.label :text  %>
		<%= f.text_area :content, placeholder: "Solution text...", class: "form-control problem-text" %>
	</div>
	
	<%= hidden_field_tag :problem_id, params[:problem_id] %>
	
  <div class="col-sm-2">
		<%= f.submit "Submit Solution", class: "btn btn-success" %>		
	</div>
<% end %>
