<%= form_for(@solution) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
    <%= f.text_area :content, placeholder: "write problem here..." %>
  </div>
  <%= f.label :answer %>
	<%= f.number_field :answer, class: 'form-control' %>
	
	<%= f.label :degree_of_answer %>
	<%= f.number_field :degree_of_answer, class: 'form-control' %>
	
	<%= f.label :units_of_answer %>
	<%= f.text_area :units_of_answer, class: 'form-control' %>
	
	<%= hidden_field_tag :problem_id, params[:problem_id] %>
	
  <%= f.submit "Solution", class: "btn btn-primary" %>
<% end %>
