Solution of <%= @solution.problem.title %> by <%= @solution.user.first_name %>
<p> <%= @solution.content %></p>
<p>Answer: <%=  @solution.answer %>.10^<%= @solution.degree_of_answer %> <%= @solution.units_of_answer %></p> 
 <%= link_to "delete", @solution, method: :delete,
                                       data: { confirm: "You sure?" } %>
