<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
			
      <%= link_to image_tag("crown.png", class: "navbar-brand"), root_url %>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#sec1">What we offer you</a></li>
        <li><a href="#sec2">Overview</a></li>
        <li><a href="#sec3">About us</a></li>
        <li><a href="#sec4">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", new_user_session_url %></li>
        <li><%= link_to "Sign up", new_user_registration_url %></li>
      </ul>
    </div>
   </div>
</div>

<div class="header alt vert">
  <div class="container">
    <%= yield %>
  </div>
</div>

<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      
      <div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading text-center custom-heading"><h3>What we offer you</h3></div>
					<div class="panel-body">
						<ul class="lead-text">
							<li>Enjoy a unique environment that will motivate you to solve more problems than ever before.</li>
							<li>Draw from a rich database of interesting physics problems.</li>
							<li>Take part in competitions against other phykings to raise your level and win gold.</li>
							<li>Contribute with your own problems and solutions and get rewards.</li>
							<li>Learn from your peers' solutions and improve your problem solving skills.</li>
							<li>Become a real phyking in a growing community of phykings.</li>
						</ul>
					</div>
				</div>
      </div>
      
    </div>
  </div>
</div>

<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Overview</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-star"></i>
          <h4>Competitions</h4>
          <p>Competitions can have one of four different durations - 10 min, 30 min, 60 min and 120 min. Players will be expected to solve a number of problems, specially chosen to fit into the timeframe of the competition.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-question-sign"></i>
          <h4>Problems</h4>
          <p>Problems are differentiated by topic, length and difficulty. You can contribute with your own original problems. As a reward, everytime one of your problems gets chosen for a competition you will receive gold.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-ok-sign"></i>
          <h4>Solutions</h4>
          <p>You are encouraged to submit solutions to problems from past competitions, new problems and your own problems. As a reward, everytime someone reads your solution you will receive gold.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-usd"></i>
          <h4>Gold and Stats</h4>
          <p>Results from competitions will change your level, stats and gold. You can earn gold by taking part in competitions, contributing problems and submitting solutions. You can also purchase additional gold from us.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callout" id="sec3">
  <div class="vert">
    <div class="col-md-12 text-center"><h2>About Us</h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2 text-justify">
      <div class="row hidden-xs">
       <div class="col-sm-2 text-center">
				 <%= image_tag "sasho.png", class:"img-circle grayscale" %>
				</div>
       <p class="col-sm-8" id="about-us">These are Phyking I and Phyking II. They love Physics. They have solved thousands of problems to become who they are today as physicists. And there are many more thousands still to come. Phyking I has just graduated with a degree in Physics from the University of Cambridge and Phyking II is starting his second year there. Before university they both participated repeatedly in the International Physics Olympiad(IPhO). Phyking I won two bronze medals and Phyking II won one bronze and two silver medals. Having gone through all of this, they know how important problem solving is for the development of a physicist.  </p> 
       <div class="col-sm-2 text-center">
				 <%= image_tag "dacho.png", class:"img-circle grayscale" %>
				</div>
      </div>
    </div>
  </div>
</div>

<div class="blurb bright" id="sec4">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Contact us</h3>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center custom-heading"><h2><i class="icon-chevron-left"></i>PhyKings Team</h2></div>
         <div class="panel-body text-center">
					 <ul class="text-justify">
						 <li>team@phykings.com</li>
						 <li>Facebook</li>
						 <li>Twitter</li>
					 </ul>
         </div>
         </div>
  </div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<p>Copyright PhyKings ©2015</p>
		</div>
	</div>
</footer>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="glyphicon glyphicon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up icon-3x"></i></a></li>
</ul>
