<body class="index" id="logged-out">
	
	<%= render 'layouts/log_in_modal' %>
	<%= render 'layouts/sign_up_modal' %>
	<%= render 'layouts/forgot_pass_modal' %>
	<%= render 'layouts/resend_confirmation_modal' %>
	
	<div id="page-wrapper">

		<!-- Header -->
			<header id="header" class="alt">
				<%= image_tag "html5up/phykings-logo-2.png", height: "30px" %>
				<nav id="nav">
					<ul>
						<li class="current"><a href="#logged-out" class="scrolly"><span class="icon fa-chevron-up"></span></a></li>
						<li>
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#login">
								Log in
							</button>
						</li>
						<li>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup">
								Sign up
							</button>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<%= render 'layouts/error_messages' %>
				<%= devise_error_messages! %>

				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<p>Do you <strong>love Physics</strong>?</p>
					<p>Unleash your <strong>talent</strong>.</p><br/>
					<p>The place <br/>for <strong>solving problems</strong>.</p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
							<li><p>Start your journey via:</p></li>
							<li class="start"><%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "button fit" %></li>
							<li class="start"><%= link_to "Google+", user_omniauth_authorize_path(:google_oauth2), class: "button fit" %></li>
							<li class="start"><%= link_to "Email", "#signup", data: {toggle: "modal", target: "#signup"}, class: "button fit"%></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Main -->
			<article id="main">

				<header class="special container">
					<h2><strong>Solving problems</strong> is essential for <br/> the development of solid skills in Physics. </h2>
					<p>Thinking hard on a problem and trying to solve it on your own helps you absorb knowledge much more efficiently. <br/>The reason is that sweating over a problem <strong>activates your long-term memory</strong>. This helps you remember new concepts <br/> and strengthens your understanding.</p>
				</header>

				<!-- One -->
					<section class="wrapper style2 container special-alt">
						<div class="row 50%">
							<div class="12u 12u(narrower)">

								<header>
									<h2>The place for solving problems <br/>in a <strong>competitive environment</strong></h2>
								</header>
								<ul class="side-icons">
									<li class="one-line">
										<span class="icon fa-trophy"></span><br/>
										Pioneering a new kind of <br/>physics competitions.
									</li>
									<li class="one-line">
										<span class="icon fa-graduation-cap"></span><br/>
										Intended for students at <br/>high school, university, PhD and beyond. 
									</li>
									<li class="two-line">
										<span class="icon fa-lightbulb-o"></span><br/>
										Create your own original problems.
									</li>
									<li class="two-line">
										<span class="icon fa-share-alt"></span><br/>
										Share your solutions to challenging problems.
									</li>
									<li class="two-line">
										<span class="icon fa-globe"></span><br/>
										Learn together with bright minds from around the globe.
									</li>
								</ul>
								<footer>
									<ul class="buttons">
										<li><a href="#overview" class="button fit scrolly">Find out more</a></li>
									</ul>
								</footer>

							</div>
							
						</div>
					</section>

				<!-- Two -->
					<section class="wrapper style1 container special" id="overview">
						<div class="row">
							<div class="3u 12u(narrower)">

								<section>
									<span class="icon featured fa-trophy"></span>
									<header>
										<h3>Competitions</h3>
									</header>
									<p>You can create custom competitions or join existing ones. The duration of a comeptition can range from 10 min to 120 min. Participants will be expected to attempt a number of problems drawn from a rich user-generated database. An algorithm ensures that problems fit into the timeframe of the competition. </p>
								</section>

							</div>
							<div class="3u 12u(narrower)">

								<section>
									<span class="icon featured fa-calculator"></span>
									<header>
										<h3>Problems</h3>
									</header>
									<p>Problems are divided by topic, length and difficulty. You can submit your own original problems. As a reward, every time one of your problems is selected for a competition you will receive gold. Users can vote, comment and submit solutions to problems they have been given in competitions.</p>
								</section>

							</div>
							<div class="3u 12u(narrower)">

								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Solutions</h3>
									</header>
									<p>You can learn from the solutions of other talanted users. Also, you can submit your own solutions for others to learn from. As a reward, you will receive gold every time someone reads your solution.</p>
								</section>

							</div>
							<div class="3u 12u(narrower)">

								<section>
									<span class="icon featured fa-bar-chart"></span>
									<header>
										<h3>Gold and Stats</h3>
									</header>
									<p>Gold is the currency that you will use. You earn gold when you win at competitions, create new problems and submit solutions. You spend gold to enter competitions and to unlock answers and solutions of problems. <br/>Helpful stats allow you to follow your progress and compare it to the progress of your peers.</p>
								</section>

							</div>
						</div>
					</section>

				<!-- Three -->
					<section class="wrapper style3 container special">

						<header class="major">
							<h2>Let's <strong>grow together</strong></h2>
							<p>We are very young. We started in mid September 2015. As one of the early users you will be able to play a main role in the development of PhyKings. Your opinion is extremely valuable to us and we are eager to hear from you.</p>
							<p>Oh, and let's not forget to mention all the perks and privileges that early enthusiasts like you will get! <br/>Talk to us at <strong>team@phykings.com</strong> </p>
						</header>
						
						<h3>Some of our early users:</h3>

						<div class="row">
							<div class="4u 12u(narrower)">

								<section>
									<%= image_tag "albert-profile.png", class: "opinion-pic" %>
									<header>
										<p>"A website exclusively for physicists! I love it!"</p>
										<p><strong>Albert Miao</strong> <br/>China</p>
									</header>
									<p>Master in Condensed Matter Physics, University of Stuttgart, Germany </p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<%= image_tag "kalo-profile.png", class: "opinion-pic"  %>
									<header>
										<p>"A lot of people underestimate the importance of solving problems. A place like this is an invaluable gift to all aspiring scientists."</p>
										<p><strong>Kaloian Lozanov</strong> <br/>United Kingdom</p>
									</header>
									<p>PhD in Astrophysics and Cosmology, University of Cambridge, UK</p>
								</section>

							</div>
							<div class="4u 12u(narrower)">

								<section>
									<%= image_tag "hardik-profile.png", class: "opinion-pic"  %>
									<header>
										<p>"Wonderful idea! I can't wait for this place to grow."</p>
										<p><strong>Hardik Bansal</strong> <br/>India</p>
									</header>
									<p>Computer Science, Indian Institute of Technology</p>
								</section>

							</div>
						</div>
						
						<h3>And the people responsible for the existence of PhyKings</h3>
						
						<div class="row">
							<div class="6u 12u(narrower)">

								<section>
									<%= image_tag "sasho-profile.png", class: "creator-pic" %>
									<header>
										<h3>Alex</h3>
										<p>"I have always wanted a place like this to exist."</p>
									</header>
									<p>Having just graduated from the University of Cambridge, Alex is holding the two pieces of paper for which he spent four years of hard work.</p>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section>
									<%= image_tag "dachko-profile.png", class: "creator-pic" %>
									<header>
										<h3>Jordan</h3>
										<p>"Students need to solve more problems."</p>
									</header>
									<p>Jordan is about to start his second year at the University of Cambridge. During high school, Jordan won one bronze and two silver medals from three consecutive International Physics Olympiads.</p>
								</section>

							</div>
						</div>

						<footer class="major">
							<ul class="buttons">
								<li><a href="#cta" class="button fit scrolly"><span class="icon fa-chevron-down"></span></a></li>
							</ul>
						</footer>

					</section>

			</article>

		<!-- CTA -->
			<section id="cta">
				
				<div class="inner">
					
					<h2>Ready to <strong>solve problems</strong>?</h2>
					<footer>
						<ul class="buttons vertical">
							<li><p>Start your journey via:</p></li>
							<li class="start"><%= link_to "Facebook", user_omniauth_authorize_path(:facebook), class: "button fit" %></li>
							<li class="start"><%= link_to "Google+", user_omniauth_authorize_path(:google_oauth2), class: "button fit" %></li>
							<li class="start"><a href="#" class="button fit">Email</a></li>
						</ul>
					</footer>

				</div>

			</section>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/phykings" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>

				<ul class="copyright">
					<li>&copy; PhyKings 2015</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>

			</footer>

	</div>

</body>
