<!--
Header partial, for  logged in users.
Used in layout/application-->



<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" href="/">
            Logo
        </a>
    </div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
       <li><%= link_to "Home", root_path %></li>
            
       <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Problems and solutions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Upload Problem", "#" %></li>
              <li><%= link_to "My problems", "#" %></li>   
              <li><%= link_to "My solutions", "#" %></li>
              <li><%= link_to "Past problesm", "#" %></li>   
              <li><%= link_to "Problems without solutions", "#" %></li>
           </ul>
        </li>
            
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Competitions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Active comepetitions", "#" %></li>
              <li><%= link_to "CREATE", "#" %></li>  
						</ul>    
        </li>
            

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Help <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "How to use Latech", "#" %></li>
              <li><%= link_to "About", "#" %></li>  
              <li><%= link_to "Help", "#" %></li>  
              <li><%= link_to "Contact", "#" %></li>  
						</ul>    
        </li>

        </ul>
        <ul class="nav navbar-nav pull-right">
                   <li><%= render 'shared/user_info' %></li>
        </ul>
    </nav>
</div>

