<div class="col-md-offset-0">
	<ul>
		<font size="5" color="black">
			<li><%= link_to "Upload problem", '#' %></li>	
			<li><%= link_to "My problems", '#' %></li>
			<li><%= link_to "My solutions", '#' %></li>
			<li><%= link_to "Past problems", '#' %></li>
			<li><%= link_to "Problems without solutions", '#' %></li>
		</font>
	</ul>
</div>
