        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                 
                    				<!-- SIDEBAR USERPIC -->
									<div class="profile-userpic">
										<img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/401132_244364565632679_626066299_n.jpg?oh=f1a5c62cc16c77184e51d0a4aee93915&oe=5641C210" class="img-responsive" alt="">
									</div>
									<!-- END SIDEBAR USERPIC -->
									<!-- SIDEBAR USER TITLE -->
									<div class="profile-usertitle">
										<div class="profile-usertitle-name">
											Go6o
										</div>
									</div>
									<!-- END SIDEBAR USER TITLE -->
                    
								<li><%= link_to "Personal info", '#' %></li>
								<li><%= link_to "Stats", '#' %></li>
								<li><%= link_to "Past problems", '#' %></li>
								<li><%= link_to "My problems", '#' %></li>
								<li><%= link_to "My solutions", '#' %></li>
                    
                </ul>
            </nav>
        </div>


