<!DOCTYPE html>
<html>
<head>
  <title>PhykingsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
     tex2jax: {
       inlineMath: [ ['$','$'], ['\\(','\\)'] ],
       processEscapes: true
     }
    });
	</script>
  <%= mathjax_tag %>
  
  <% if user_signed_in? %>
		<script type="text/javascript">
			$(function(){
				var faye = new Faye.Client('/faye');
				faye.subscribe('/competitions/<%= current_user.id %>', competition_show);
			});
		</script>
  <% end %>
  
  <%= render 'layouts/shim' %>
</head>

<body>
	
	<% if user_signed_in? %>
		
			<div class="container col-sm-12">
				
				<div id="wrapper">
					<div id="flash-field">
						<%= render 'layouts/error_messages' %>
					</div>
				
					<%= render 'layouts/logged_in/header' %>
					<%= render 'layouts/logged_in' %>

				</div>
			</div>
			
		<%= render 'layouts/footer' %>
	 
	<% else %>
		<%= render 'layouts/front_page' %>
	<% end %>


</body>

</html>
