<!DOCTYPE html>
<html>
<head>
  <title>PhykingsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
	
	<% if user_signed_in? %>
		
			<div class="container col-sm-12">
				
				<div id="wrapper">
					<% flash.each do |message_type, message| %>
						<div class="alert alert-<%= message_type %>"><%= message %></div>
					<% end %>
				
				
					<%= render 'layouts/logged_in/header' %>
					<%= render 'layouts/logged_in' %>
					<%= yield %>

				</div>
			</div>
			
		<%= render 'layouts/footer' %>
	 
	<% else %>
		<%= render 'layouts/front_page' %>
	<% end %>


</body>

</html>
